# This is a test file

In [1]:
import math as m

In [2]:
m.exp(3)

20.085536923187668

In [5]:
def exponent(x):
    ans = m.exp(x)
    return ans

In [6]:
exponent(3)

20.085536923187668

In [7]:
import pandas as pd

In [14]:
df = {'a': 1, 'b': 2, 'c':3}
df = pd.DataFrame(df, (1,2,3))

In [17]:
df

   a  b  c
1  1  2  3
2  1  2  3
3  1  2  3